<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">NO</th>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">AGE</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE</th>
        <th scope="col">ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer,customerStat : ${list}">
        <td th:text="${customerStat.index+1}"></td>
        <td th:text="${customer.getId()}"></td>
        <td th:text="${customer.getName()}"></td>
        <td th:text="${customer.getAge()}"></td>
        <td th:text="${customer.getEmail()}"></td>
        <td th:text="${customer.getPhone()}"></td>
        <td><a th:href="@{/edit/{id}(id=${customer.getId()})}">
            <button class="btn btn-primary">Edit</button>
        </a>
            <a th:href="@{/delete/{id}(id=${customer.getId()})}">
                <button class="btn btn-danger">Delete</button>
            </a>
            <a th:href="@{/view/{id}(id=${customer.getId()})}">
                <button class="btn btn-success">View</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/create}">Add</a>
</body>
</html>