<link rel="stylesheet" href="/assets/css/main.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/color.css">
<link rel="stylesheet" href="/assets/css/responsive.css">
<div class="set-title">
  <h1><i class="fa fa-key"> Change Password</i></h1>
  <span>You will change your password here, we will assist with your security issues</span>
</div>
<div class="stg-form-area">
  <form class="c-form" [formGroup]="formChangePassword" *ngIf="formChangePassword"
        (ngSubmit)="sendMail();contentChangePassword(content)">
    <div>
      <i (click)="viewPassword()" [ngClass]="viewPass" class=""></i>
      <label>Old password (<span class="color-orange">*</span>)</label>
      <input [type]="typePass" id="form-password" formControlName="oldPassword" placeholder="Enter...">
      <p class="text-danger font-italic font-weight-bolder">{{messageErrorOldPassword}}</p>
      <div *ngIf="oldPassword.invalid && (oldPassword.dirty||oldPassword.touched)" class="text-danger">
        <div [hidden]="!oldPassword.errors.required" class="text-danger font-italic font-weight-bolder">
          *Please enter your old password !
        </div>
        <div [hidden]="!oldPassword.errors.minlength" class="text-danger font-italic font-weight-bolder">
          *The password is too short!
        </div>
        <div [hidden]="!oldPassword.errors.maxlength" class="text-danger font-italic font-weight-bolder">
          *The password is too long!
        </div>
      </div>
    </div>
    <div>
      <i (click)="viewNewPassword()" [ngClass]="viewNewPass"></i>
      <label>New password (<span class="color-orange">*</span>)</label>
      <input [type]="typeNewPass" formControlName="newPassword" id="form-password-1" placeholder="Enter...">
      <p class="text-danger font-italic font-weight-bolder">{{messageErrorNewPassword}}</p>
      <div *ngIf="newPassword.invalid && (newPassword.dirty||newPassword.touched)" class="text-danger">
        <div [hidden]="!newPassword.errors.required" class="text-danger font-italic font-weight-bolder">
          *Please enter your new password !
        </div>
        <div [hidden]="!newPassword.errors.minlength" class="text-danger font-italic font-weight-bolder">
          *The password is too short!
        </div>
        <div [hidden]="!newPassword.errors.maxlength" class="text-danger font-italic font-weight-bolder">
          *The password is too long!
        </div>
      </div>
    </div>
    <div>
      <i (click)="viewConfirmPassword()" [ngClass]="viewConfirmPass" class=""></i>
      <label>Confirm password (<span class="color-orange">*</span>)</label>
      <input [type]="typeConfirmPass" formControlName="confirmPassword" id="form-password-2" placeholder="Enter...">
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty||confirmPassword.touched)" class="text-danger">
        <div [hidden]="!confirmPassword.errors.required" class="text-danger font-italic font-weight-bolder">
          *Please enter your confirm password !
        </div>
        <div [hidden]="!confirmPassword.errors.minlength" class="text-danger font-italic font-weight-bolder">
          *The password is too short (password of at least 6 characters)!
        </div>
        <div [hidden]="!confirmPassword.errors.maxlength" class="text-danger font-italic font-weight-bolder">
          *The password is too long (password up to 24 characters)!
        </div>
      </div>
      <div *ngIf="confirmPassword.valid && newPassword.valid" [hidden]="!formChangePassword.hasError('notMatchPassword')" class="text-danger font-italic font-weight-bolder">
        * Confirmation password does not match the new password !
      </div>
    </div>
    <p class="text-success font-italic font-weight-bolder">{{messageSuccessChangePassword}}</p>
    <div class="mt-5">
      <a class="hover-orange" data-ripple="">Forgot Password ?</a>
    </div>
    <div class="mt-3">
      <button (click)="return()" type="button" class="btn-secondary"
              data-ripple="">Cancel
      </button>
      <button [disabled]="formChangePassword.invalid" type="submit" data-ripple="">
        Save
      </button>
    </div>
  </form>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title text-dark font-italic font-weight-bolder"><i class="fa fa-lock"></i> Confirm Password
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="position-relative">
          <div class="card p-2 text-center">
            <h6>Please enter the one time password <br> to verify your account</h6>
            <div><span>A code has been sent to</span> <small>*******9897</small></div>
            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"><input
              class="m-2 text-center form-control rounded" [(ngModel)]="otpOne" type="text" id="first" maxlength="1"/>
              <input
                class="m-2 text-center form-control rounded" [(ngModel)]="otpTwo" type="text" id="second"
                maxlength="1"/> <input
                class="m-2 text-center form-control rounded" [(ngModel)]="otpThree" type="text" id="third"
                maxlength="1"/> <input
                class="m-2 text-center form-control rounded" [(ngModel)]="otpFour" type="text" id="fourth"
                maxlength="1"/> <input
                class="m-2 text-center form-control rounded" [(ngModel)]="otpFive" type="text" id="fifth"
                maxlength="1"/> <input
                class="m-2 text-center form-control rounded" [(ngModel)]="otpSix" type="text" id="sixth" maxlength="1"/>
            </div>
            <form>
              <div>
                <button type="button" (click)="changePassword(formChangePassword.value)" data-ripple="">Submit</button>
              </div>
            </form>
            <div class="card-2">
              <div class="content d-flex justify-content-center align-items-center"><span>Didn't get the code ----> </span>
                <a (click)="sendMail()" class="hover-orange text-decoration-none ms-3"> Resend Code</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>



