<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="color: green;">Welcome Here !</h1>
<a sec:authorize="!isAuthenticated()" href="/login"><button>Login</button></a>
<a sec:authorize="isAuthenticated()" href="/logout"><button>Logout</button></a>
<a sec:authorize="isAuthenticated()" href="/admin"><button>Page Admin</button></a>
<a sec:authorize="isAuthenticated()" href="/user"><button>Page User</button></a>
</body>
</html>