body {
    padding: 50px
}

table {
    width: 100%;
    border-collapse: collapse
}

td, th {
    padding: 20px;
    border: 1px solid black
}

th {
    font-family: 'Open Sans', cursive;
    font-size: 30px;
    font-weight: 400;
    color: black;
    text-align: center;
    padding: 20px;
    background-color: yellow;
    border-color: black;
}

td {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: black;
    text-align: center;
    padding: 20px;
    border-color: black;
}