<router-outlet></router-outlet>



<div class="webcam-image" *ngIf="webcamImage">
  <img [src]="webcamImage.imageAsDataUrl" />
</div>

<h3>---------------------------------------------------------------------------------------------------------------</h3>
<h1>Bài 3:</h1>
<button routerLink="SS03_Angular_Overview/practice/fontsize">Thực Hành Font Size</button>
<br>
<br>
<button routerLink="SS03_Angular_Overview/practice/info_pet">Thực Hành Hiển Thị Thông Tin Thú Nuôi</button>
<br>
<br>
<button routerLink="SS03_Angular_Overview/exercise/calculator">Bài tập ứng dụng máy tính</button>
<br>
<br>
<button routerLink="SS03_Angular_Overview/exercise/select_color">Bài tập chọn màu</button>
<h3>---------------------------------------------------------------------------------------------------------------</h3>
<h1>Bài 4</h1>
<button routerLink="SS04_Angular_Component&Template/practice/hackernews">Thực hành Hacker News</button>
<br>
<br>
<button routerLink="SS04_Angular_Component&Template/exercise/hackernews-exercise">Bài Tập Hacker News</button>
<h3>---------------------------------------------------------------------------------------------------------------</h3>
<h1>Bài 5</h1>
<button routerLink="SS05_Components_Interaction/practice/card">Thực hành Name Card</button>
<br>
<br>
<button routerLink="SS05_Components_Interaction/practice/progress">Thực hành Progress Bar</button>
<br>
<br>
<button routerLink="SS05_Components_Interaction/exercise/rating">Bài tập Ứng Dụng Bình Chọn</button>
<br>
<br>
<button routerLink="SS05_Components_Interaction/exercise/countdown">Bài tập Ứng Dụng CountDown</button>

<h3>---------------------------------------------------------------------------------------------------------------</h3>
<h1>Bài 6</h1>
<button routerLink="SS06_Angular_Form/practice/todo">Bài tập Todo</button>
<br>
<br>
<button routerLink="SS06_Angular_Form/exercise/register">Bài tập Form Đăng Kí</button>
<br>
<br>
<button routerLink="SS06_Angular_Form/exercise/login">Bài tập Form Đăng Nhập</button>

<h3>---------------------------------------------------------------------------------------------------------------</h3>
<h1>Bài 7</h1>
<button routerLink="SS07_Service_Router/practice/timeline">Thực Hành Tính Thời Gian Sống</button>
<h3>---------------------------------------------------------------------------------------------------------------</h3>
<button routerLink="extra-exercise">Extra Exercise</button>
<button routerLink="/camera">Camera</button>
