<nav class="navbar" style="background-color: #d4ffe8">
  <img class="image1" src="https://ephoto360.com/uploads/worigin/2019/06/19/Tao_Logo_Team_Online_5d09d219c1294_940c172c0e84c1f53f0c57d4bf684291.jpg"
       style="margin-left: 40px">
  <h3 style="margin-right: 30px;color: green; font-family: 'Agency FB'; font-size: 30px">C1020G1</h3>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fas fa-home"></i>Trang Chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/package"><i class="fas fa-users"></i>Lô Hàng</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-info"><i class="fas fa-sign-in-alt"></i>Login</button>
  </form>
</nav>
