<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form th:object="${phoneNumber}" method="post" action="/create">
    <div class="form-group">
        <label for="name">Phone: </label>
        <input style="width: 400px" class="form-control" id="name" th:field="*{phoneNumber}">
        <p class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
    </div>
    <br>
    <input type="submit" value="Create">
</form>
</body>
</html>